!!! HTML
%head
  %title= "Deployment Badge for #{resource[:app]}"
  %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" }
  / %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
%body
  .container

    %p Add this badge do your README.md:
    %textarea.form-control{ style: "font-family: monospace" }
      [![Deployment Badge](https://deployment-badges.herokuapp.com/badges/#{resource.id}.svg)](https://deployment-badges.herokuapp.com/badges/#{resource.id}/github)

    %a{ href: "https://deployment-badges.herokuapp.com/badges/#{resource.id}/github"}
      %img{src: "https://deployment-badges.herokuapp.com/badges/#{resource.id}.svg"}

    %table.table.table-striped.table-condensed
      %tr
        %th Attribute
        %th Value
      - resource.attributes.each do |attribute, value|
        %tr
          %td= attribute
          %td= value