!!! HTML
%html{lang: "en"}
  %head
    %title= "Deployment Badge for #{resource[:app]}"
    %link{ rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" }
    %script{ src: "//code.jquery.com/jquery-1.11.0.min.js" }
    %script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}
  %body
    .container

      %h1= "Deployment Badge for #{resource[:app]}"

      %a{ href: resource.compare_url }
        %img{src: "/badges/#{resource.id}.svg"}

      %p Add this badge do your README.md:
      %pre
        %code.language-markdown{ data: { lang: "markdown" } }
          [![Deployment Badge](https://deployment-badges.herokuapp.com/badges/#{resource.id}.svg)](https://deployment-badges.herokuapp.com/badges/#{resource.id}/github)

      %table.table.table-striped.table-condensed
        %tr
          %th Attribute
          %th Value
        - resource.attributes.each do |attribute, value|
          %tr
            %td= attribute
            %td= value